<footer class="footerContainer">
  <div class="firstContainer">
    <div>
      <h1 class="firsth1">Would you like to check the code?</h1>
      <h1 class="secondh1">Take a look at the Github repository.</h1>
    </div>
    <div>
      <a href="https://github.com/gabrielweht/Rick-Morty" target="_blank">
        <button class="btnRepo">See repository</button>
      </a>
    </div>
  </div>
  <div class="secondContainer">
    <div class="divCredits">
      <img src="https://img.icons8.com/external-creatype-outline-colourcreatype/344/external-pc-web-application-1-creatype-outline-colourcreatype.png" alt="pc" class="iconPC">
      <span>Check code and credits on Github repository.</span>
    </div>
    <div>
      <a href="https://github.com/gabrielweht" target="_blank" rel="noopener noreferrer">
        <img src="https://img.icons8.com/windows/344/github.png" alt="github" class="icon">
      </a>
      <a href="https://www.linkedin.com/in/gabriel-weht/" target="_blank" rel="noopener noreferrer">
        <img src="https://img.icons8.com/windows/344/linkedin-2.png" alt="Linkedin" class="icon">
      </a>
    </div>
  </div>
</footer>
