.divSearchBar{
  width: 30rem;
  display: flex;
  justify-content: center;
  padding: 0;
}

.labelSearch {
  width: 100%;
}

.inputSearch {
  width: 60%;
  height: 2rem;
  border-radius: 10px;
  border: 2px solid #263238;
  margin-right: .5rem;
  padding: 0 0 0 .5rem;
  outline: none;
  background-color: #eceff1;
}

.btn {
  height: 2.2rem;
  border-radius: 10px;
  color: #eceff1;
  background-color: #263238;
  border: 2px solid #263238;
  padding: .5rem 1rem .5rem 1rem;
}

.btn:hover {
  cursor: pointer;
}
