.pageComplete{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;

}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.divCharacter {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  border: 1px solid #263238;
  margin: 20px;
  border-radius: 10px;
  width: 600px;
  height: 14rem;
  background-color: #263238;
}

.divStatus {
  display: flex;
  align-items: center;
}

.divInfo {
  display: block;
  margin-top: 10px;
  color: #eceff1;
}

.nameCharacters {
  font-size: 2rem;
  color: #eceff1;
  text-decoration: none;
}

.species {
  margin: 1rem;
  font-size: 1.2rem;
}

.nameCharacters:hover {
  color: rgb(255, 102, 0);
}

.imageChar {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 1rem;
  height: 14rem;
}


.statusAlive {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  background-color: green;
}

.statusDead {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  background-color: red;

}

.unknown {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  background-color: orange;
}

.divLocation {
  display: flex;
  align-items: center;
}

.locationTitle {
  margin: .5rem 0 1rem 0;
}

.location {
  margin: .5rem 0 1rem  1rem;
}

.episode {
  margin: .5rem 0 .5rem 0;
}
